*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%
}
body{
  font-family: 'Heebo', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  background: white;
}
.container-fluid{
  padding: 30px 20px;
}
.container{
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
.container2{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.section-container{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1040px;
    }
}
@media (min-width: 576px) {
    .container2 {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container2 {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container2 {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container2 {
        width: 1040px;
    }
}
.background-blue{
  background: rgba(237, 247, 250, 1);
}


/* NAVBAR */
#navbar{
  display: flex;
  justify-content: flex-end;
}
#menu-icon{
  height: 28px;
  cursor: pointer;
}
#menu-links{
  display: none;
}
@media (min-width: 992px) {
  .mr-4{
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
  }
  #menu-icon{
    display: none;
  }
  #menu-links{
    display: flex;
  }
  #menu-links p{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
    cursor: pointer;
  }
}
/* NAVBAR */


/* HERO-CONTAINER */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -50px;
}
.hero-heading{
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #21243D;
}
.hero-paragraph{
  font-size: 14px;
  line-height: 23px;
  color: #21243D;
}
.hero-content{
  padding-top: 30px;
}
.hero-paragraph{
  padding-top: 20px;
}
.hero-button{
  padding: 6px 12px;
  color: #FFFFFF;
  background-color: #FF6464;
  cursor:pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  border: white;
  margin-top: 30px;
}
.hero-button:hover{
  box-shadow: 0 0.5rem 0.5rem rgba(217, 226, 239, 1),0 .5rem 1rem -.75rem rgba(217, 226, 239, 1)!important;
  transform: translate3d(0,-3px,0);
  background-color: rgba(28, 25, 25, 1);
}
@media (min-width: 768px){
  .hero-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: left;
  }
  .hero-image-sub{
    width: 80%;
  }
  .col-xs-11{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px){
  .hero-heading{
    font-size: 44px;
    line-height: 60px;
  }
  .hero-paragraph{
    font-size: 18px;
    line-height: 25px;
    padding-right: 60px;
  }
  .hero-image-sub{
    width: 80%;
  }
  .hero-container{
    padding-top: 5rem;
  }
}
/* HERO-CONTAINER */


/* SECTION-1 */
.section-1-p{
  margin-top: -40px;
}
#section-1-p1{
  text-align: center;
  font-size: 18px;
  line-height: 60px;
}
#section-1-p2{
  display: none;
}
.col-xs-12{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.04);
}
.section-1-h{
  padding-left: 15px;
  font-size: 20px;
  line-height: 30px;
  color: #21243D;
  padding-top: 10px;
}
.section-1-sub{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  font-size: 15px;
  line-height: 23px;
  color: #21243D;
  padding-left: 15px;
  padding-top: 10px;
}
.section-1-p3{
  font-size: 15px;
  line-height: 23px;
  color: #21243D;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.col-xs-12b{
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.04);
}
@media (min-width: 768px) {
  #section-1-p2{
    display: inherit;
  }
  .section-1-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-1{
    display: flex;
    align-items: center;
  }
  .col-xs-12b{
    margin-top: 0px;
    margin-left: 15px;
  }
  .section-1-h{
    font-size: 21px;
  }
  .section-1-sub{
    padding-right: 100px;
  }
  .section-1-p3{
    padding-right: 20px;
  }
}
@media (min-width: 992px) {
  .section-1-h{
    font-size: 30px;
    line-height: 38px;
  }
  .section-1-p3{
    font-size: 18px;
    line-height: 25px;
    padding-right: 50px;
  }
  .section-1-sub{
    font-size: 18px;
    line-height: 26px;
    padding-right: 200px;
  }
}
/* SECTION-1 */
