*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%
}
body{
  font-family: 'Heebo', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  background: white;
}
.container-fluid{
  padding: 30px 20px;
}
.container{
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
.section-container{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1040px;
    }
}


/* NAVBAR */
#navbar{
  display: flex;
  justify-content: flex-end;
}
#menu-icon{
  height: 28px;
  cursor: pointer;
}
#menu-links{
  display: none;
}
.hidden {
  display: none;
}
.btn-menu {
  position: absolute;
  cursor: pointer;
  width: 1.5em;
  height: 2em;
  background: transparent;
  top: 3px;
  outline: none;
}
.btn-menu::before, .btn-menu::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-menu::before {
  width: 100%;
  height: 2px;
  top: 48%;
  -webkit-box-shadow: inset 0 0 0 1em, 0 -5px, 0 5px;
  box-shadow: inset 0 0 0 1em, 0 -5px, 0 5px;
}
.menu-container {
  background: #353434;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 80vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu a {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}
#checkbox-menu:checked ~ .btn-menu::before {
  -webkit-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#checkbox-menu:checked ~ .btn-menu::after {
  width: 100%;
  height: 2px;
  top: 48%;
  -webkit-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#checkbox-menu:checked ~ .menu-container {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
@media (min-width: 992px) {
  .btn-menu {
    display: none;
  }
  .mr-7{
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
  }
  .mr-8{
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
  }
  .mr-7:visited{
    color: #FF6464;
  }
  #menu-icon{
    display: none;
  }
  #menu-links{
    display: flex;
  }
  #menu-links p{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
    cursor: pointer;
  }
}
/* NAVBAR */


/* SECTION-3 */
.section-3-1-b{
  text-align: left;
  margin-top: -50px;
  font-size: 25px;
  line-height: 60px;
  color: #21243D;
}
/* SECTION-3 */


/* SECTION-5 */
.section-5-1{
  padding-top: 30px;
}
.section-5-1-a{
  margin-top: -5rem;
}
.section-2-b{
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.section-2-b-1{
  padding: 0px 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  border: #142850;
  background: #142850;
  border-radius: 16px;
  margin-right: 20px;
}
.section-2-b-2{
  font-size: 16px;
  line-height: 23px;
  color: #8695A4;
}
.section-2-b-3{
  font-size: 14px;
  line-height: 23px;
  color: #21243D;
  padding-top: 20px;
  padding-bottom: 25px;
}
.section-2-1a{
  width: 100%;
}
.mrr-5{
  text-decoration: none;
  cursor: pointer;
  font-size: 23px;
  line-height: 30px;
  color: #21243D;
  font-weight: bold;
}
.section-2-1b{
  font-size: 23px;
  line-height: 30px;
  color: #21243D;
  cursor: pointer;
}
.section-5-3{
  padding-top: 10px;
}
.section-2-c{
  border: 0.5px solid #E0E0E0;
}
@media (min-width: 768px){
  .section-2-b-2{
    font-size: 18px;
    line-height: 29px;
  }
  .section-2-b-3{
    font-size: 14px;
    padding-top: 20px;
  }
  .section-2-b{
    padding-top: 20px;
  }
  .section-5-1{
    display: flex;
    padding-bottom: 20px;
  }
  .section-5-1-a{
    display: flex;
    padding-bottom: 20px;
  }
  .section-5-2{
    width: 70%;
    margin-right: 25px;
  }
}
@media (min-width: 992px){
  .section-5-2{
    width: 50%;
    margin-right: 25px;
  }
  .section-2-b-2{
    font-size: 20px;
    line-height: 29px;
  }
  .section-2-b-3{
      font-size: 18px;
      padding-right: 200px;
  }
}
/* SECTION-5 */


/* FOOTER */
.section-3-1{
  display: flex;
  justify-content: center;
}
.section-3-2{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
  padding-top: 20px;
  padding-right: 20px;
}
.section-3-1a{
  margin-right: 20px;
}
/* FOOTER */
